.main-container{
    height: 100vh;
}
mat-drawer{
    width: 400px;
}

.full-width {
    width: 100%;
  }

.center-card{
    max-width: 90%;
    height: 95%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    padding-bottom: 0px;
}

.center-card .sub-1{
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 10px;
}
.center-card .sub-2{
    text-align: center;
    font-size: 1em !important;
    padding-bottom: 10px;
}
.center-card .button-set-1{
    width: 100%;
    margin: auto;
}

.center-card .button-set-1 .next-button{
    float: right;
}

.file-input {
    display: none;
  }

.center-card .form-1 p{
    color: gray;
}

.passpoint-slider-label{
    margin-top: 30px;;
    padding-bottom: 20px;
}



