<h1 mat-dialog-title>Pass Point Configuration</h1>
<div mat-dialog-content>
    <p>Recommand to use many pass points as possible</p>
        <mat-slider
            class="full-width"
            name="max"
            [disabled]="false"
            [invert]="false"
            [max]="20"
            [min]="4"
            [step]="1"
            [thumbLabel]="true"
            [(ngModel)]="data.numberOfPassPoints"
            [vertical]="false"
                                    >
        </mat-slider>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select Click Point Color</mat-label>
            <input type="color" matInput [(ngModel)]="data.fillStyle"/>
          </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>